<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Application</title>
    <link href="/css/main.css" rel="stylesheet" />
    <script src="/scripts/index.js"></script>
</head>
<body>
    <header>
        <div class="logo">Insight360</div>
        <div class="search-box">
            <input type="text" placeholder="Search..." id="searchInput">
            <button type="submit" id="submit">
                <img src="https://img.icons8.com/ios-filled/50/000000/search--v1.png" alt="Search">
            </button>
        </div>
        <nav>
            <a href="/foryou" id="for-you">For You</a>
            <a href="/category?topic=sci-tech">Sci-Tech</a>
            <a href="/category?topic=sport">Sports</a>
            <a href="/category?topic=business">Business</a>
            <a href="/category?topic=entertainment">Entertainment</a>
            <a href="/category?topic=health">Health</a>
            <a href="/category?topic=world">World</a>
        </nav>
        <!-- Profile icon -->
        <a href="#" class="profile-icon" id="profile-icon">U</a>
        <div id="profile-box" class="profile-box">
            {{#if user}}
            <h2>Hello, {{user.name}}!</h2>
            <a href="/profile">Profile</a>
            <a href="/logout" class="sign-out">Sign Out</a>
            {{else}}
            <h2>Welcome!</h2>
            <a href="/login">Sign In</a>
            <a href="/register">Sign Up</a>
            {{/if}}
        </div>
    </header>
    <div class="container">
        <main>
            {{> newsfeed news=news}}
            <div id="newsModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2 id="modalTitle"></h2>
                    <p id="modalCreator"></p>
                    <p id="modalPubDate"></p>
                    <img id="modalImage" src="" alt="News Image">
                    <p id="modalDescription"></p>
                </div>
            </div>

            <div class="pagination">
                {{#if (gt currentPage 1)}}
                <a href="?topic={{topic}}&page={{subtract currentPage 1}}">Previous</a>
                {{/if}}

                {{#if (lt currentPage totalPages)}}
                <a href="?topic={{topic}}&page={{add currentPage 1}}">Next</a>
                {{/if}}
            </div>
        </main>
        <aside>
            <h2>Recommendations</h2>
            <div id="recommendations-container">
            </div>
        </aside>
    </div>
</body>
</html>
